[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/geb-reward-adjuster"]
	path = lib/geb-reward-adjuster
	url = https://github.com/reflexer-labs/geb-reward-adjuster.git
